<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content: About Me page -->
<main >
    <%- include partials/content.ejs %>    
    <br><br><br><br><br><br><h1 class="fw-bold" id="lgreen"> About Me</h1><br><br><br>
        <img src="/Assets/images/sspic.jpg" alt="myPicture" class="rounded float-start" width="20%" hspace="30">
        <h3 id="introduce">Hi, I'm Sohyeon Song. I am from South Korea and now in Health Informatics Technology at Centennial College.
            I'm 25 years old, and I decidecd to study abroad in Canada after experiencing working hoilday in here, 
            SO after i got bachelor in my university which is Health Administration.
            I hope i can fully use those knowledge. <br><br><br>
            
        </h3><br><br><br><br>
        
        <!--Download Resume-->
        <a href="/Assets/Resume_SohyeonSong.pdf" download="" class="btn btn-outline-info">Click to download my resume</a>
    </div>
    
</main>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>