<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content: Services page -->
  <main >
    <%- include partials/content.ejs %>
      <div class="row">
        <!--Service card 1: Software development-->
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title"><br><br><br><img src="/Assets/images/software.png" alt="software"></h1><br>
              <h1 class="card-text" id="lgreen">Software Development</h1>
              <h4 class="card-text" id="green">Python, C, C#, Java</h4>
            </div>
          </div>
        </div>
        <!--Service card 2: Web development-->
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title"><br><br><br><img src="/Assets/images/web.png" alt="web"></h1><br><br>
              <h1 class="card-text" id="lgreen">Web Development</h1>
              <h4 class="card-text" id="green">NodeJS, HTML, CSS, ExpressJS</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>